.App {
  h3 {
    margin: 0 0 10px;
  }
  .start-rtl,
  .router {
    margin-bottom: 20px;
    div {
      margin-bottom: 5px;
    }
    p {
      display: inline-block;
      margin: 0 0 0 10px;
      background-color: #cccccc;
    }
  }
  .start-rtl {
    div {
      div {
        display: inline-block;
        margin: 0;
      }
    }
    button,
    input {
      margin-right: 10px;
    }
  }
  .router {
    nav {
      margin-bottom: 5px;
    }
    a {
      margin: 0px 5px 0 0;
      background-color: khaki;
    }
    button {
      margin-right: 5px;
    }
  }
  .users {
    display: flex;
    flex-direction: column;
    a {
      background-color: unset;
    }
  }
}
